<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musica</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a name="top"></a>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contacto">CONTACT</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    
    <img src="/img/emilia-music-top.jpg" alt="">
    <h1>MUSIC //</h1>
    <h4>Direct Links</h4>
    <p>Album <br>Video: Organic Love <br>Video: Street light </p>
    <section>
        <article>
            <h3>ALBUM <br>TWIST IN MY REALITY</h3>
            <img src="/img/emilia-play-list.png" alt="">
            <ol>
                <li>Organic Love | 2:40</li>
                <li>twist in My Reality | 2:10</li>
                <li>Street light | 3:28</li>
                <li>Love Don´t Live Here Anymore (cover) | 3:49 </li>
            </ol>
        </article>
        <a href="#top">Go Top</a>
        <article>
            <h3>VIDEO <br>ORGANIC LOVE</h3>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

                 <p> Directed by VINCE MALC & EMILIA COLE <br> 
                 Edited and Filmed by NICOLAS TROY <br>
                 Produced by NIKI HEART, <br>
                 Wix Films LTD.
                 </p>
        </article>
        <a href="#top">Go Top</a>
        <article>
            <h3>VIDEO <br>STREET LIGHT</h3>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

                 <p> Directed by VINCE MALC & EMILIA COLE <br> 
                 Edited and Filmed by NICOLAS TROY <br>
                 Produced by NIKI HEART, <br>
                 Wix Films LTD.
                 </p>
        </article>
        <a href="#top">Go Top</a>
  </section>
</body>
</html>